<div class="card m-5">
  <div class="card-header">
    <div class="playground-header-wrapper d-flex justify-content-between">
      <div class="playground-title fw-bold">OpenAI Playground</div>
      <div class="playgroind-preset-wrapper">
        
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="playground-wrapper pg-body">
      <div class="pg-left">
        <div class="playground-text">
          <div class="parent-container">
            <div class="playground-container-wrapper request">
              <div>Character count: <span class="playground-number badge mr-4 text-dark">{{ content.length }}</span>
                Word count: <span class="playground-number badge mr-4 text-dark">{{ wordCount }}</span>
                Token count: <span class="playground-number badge mr-4 text-dark">{{ tokenCount }}</span>
                Price: <span title="Calculated approximate price" class="playground-number badge mr-4 text-dark">{{ calculateRequestPrice }}</span></div>
                <!-- PLAYGROUND CONTAINER ngx-openai-editor -->
                <div class="playground-container mt-2">
                  <textarea [(ngModel)]="content" class="form-control h-100 no-resize"></textarea>
                </div>
            </div>
            <div class="playground-container-wrapper center mt-2 mb-3">
              <div class="d-flex justify-content-between">
                <div class="d-flex justify-content-between">
                  <h5 class="my-auto mr-5">Result</h5>
                </div>
                <div class="playground-toolbar mt-4 btn-group">
                  <button (click)="runSubmit()" class="btn btn-primary mb-3">Run</button>
                <!--  <button (click)="spellCheck()" class="btn btn-light mb-3">Spell Check</button>-->
                  <button (click)="copyResult()" class="btn btn-info mb-3">Copy result</button>
                  <button (click)="clearEditor()" class="btn btn-danger mb-3">Clear</button>
                </div>
              </div>
            </div>
            <div class="playground-container-wrapper response">
              <!-- PLAYGROUND CONTAINER ngx-openai-editor -->
                <div class="playground-container">
                  <textarea [(ngModel)]="resultText" class="form-control h-100 no-resize fw-bold" readonly></textarea>
                </div>
              <div class="mt-2 mb-2">Result Character count: <span
                class="playground-number badge mr-4 text-dark">0</span>
                Result Word count: <span class="playground-number badge mr-4 text-dark">0</span>
                Result Token count: <span class="playground-number badge mr-4 text-dark">0</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-right">
        <div class="pg-right-content">
          <div class="parameter-panel">
            <div class="parameter-panel-grid">
              <div aria-haspopup="true" aria-expanded="false">
                <div class="parameters-engine-select-label">
                  <div class="body-small control-label" aria-haspopup="true" aria-expanded="false">Engine</div>
                </div>
                <div class="engine-select">
                  <nb-select fullWidth="true" placeholder="Select Engine">
                    <nb-option-group title="Open AI">
                      <nb-option>
                        <div>dasdasd</div>
                      </nb-option>
                    </nb-option-group>
                    <nb-option-group title="Trained">
                      <nb-option>
                        <div>dasdasda<</div>
                      </nb-option>
                    </nb-option-group>
                  </nb-select>
                </div>
              </div>
              <div aria-haspopup="true" aria-expanded="false">
                <div class="slider">
                  <div class="d-flex justify-content-between">
                    <div class="body-small">Randomness
                    </div>
                    <div>
                      <input class="input-small" type="number">
                    </div>
                  </div>
                  <!-- SLIDER -->
                </div>
              </div>
              <div aria-haspopup="true" aria-expanded="false">
                <div class="slider">
                  <div class="d-flex justify-content-between">
                    <div class="body-small">Maximum length
                    </div>
                    <div><input class="input-small" type="number"></div>
                  </div>
                  <!-- SLIDER -->
                </div>
              </div>
              <div>
                <div class="stop-sequence-container">
                  <div aria-haspopup="true" aria-expanded="false">
                    <div class="body-small control-label">
                      <div>Stop sequences</div>
                      <div class="control-note text-muted">Enter sequence and press Tab</div>
                    </div>
                    <div class="tag-container">
                      <tag-input>
                        <ng-template>
                         <!-- <span>{{ item.name }}</span>
                          <span class="ml-2 ng2-tag__remove-button">x</span>-->
                        </ng-template>
                        <tag-input-dropdown 
                          [dynamicUpdate]="false"
                          [zIndex]="10000">
                          <ng-template>
                            <!--{{ item.name }}-->
                          </ng-template>
                        </tag-input-dropdown>
                      </tag-input>
                    </div>
                  </div>
                </div>
              </div>
              <div aria-haspopup="true" aria-expanded="false">
                <div class="slider">
                  <div class="d-flex justify-content-between">
                    <div class="body-small">Top P</div>
                    <div><input class="input-small" type="number"></div>
                  </div>
                  <!-- SLIDER -->
                </div>
              </div>
              <div aria-haspopup="true" aria-expanded="false">
                <div class="slider">
                  <div class="d-flex justify-content-between">
                    <div class="body-small">
                      Frequency Penalty
                    </div>
                    <div><input class="input-small" type="number"></div>
                  </div>
                  <!-- SLIDER -->
                </div>
              </div>
              <div aria-haspopup="true" aria-expanded="false">
                <div class="slider">
                  <div class="d-flex justify-content-between">
                    <div class="body-small">Presence Penalty
                    </div>
                    <div><input class="input-small" type="number"></div>
                  </div>
                  <!-- SLIDER -->
                </div>
              </div>
              <div aria-haspopup="true" aria-expanded="false">
                <div class="slider">
                  <div class="d-flex justify-content-between">
                    <div class="body-small">Best Of</div>
                    <div><input class="input-small" type="number"></div>
                  </div>
                  <!-- SLIDER -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>